.top-bar {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 40px;
  font-size: 14px;
  align-items: center;
}

.social-icons a {
  color: white;
  margin-right: 10px;
}

.contact-info span {
  margin-right: 20px;
}

.lang {
  font-weight: bold;
}

.main-nav {
  display: flex;
  align-items: center;
  padding: 15px 40px;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
}

.logo {
  height: 50px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
  margin-left: auto; /* 🔥 mueve el menú a la derecha */
  margin-right: 20px;
}

.menu li {
  position: relative;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 8px;
}

.menu a.dlt {
  background-color: red;
  padding: 8px 12px;
}

.menu li:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  list-style: none; /* 🔥 esto quita las bolitas */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #111;
  padding: 10px;
  display: none;
  z-index: 1000;
  min-width: 280px;
}

.dropdown-menu li {
  margin: 8px 0;
  list-style-type: none; /* 🔥 elimina las bolitas solo en los <li> */
}

.dropdown-menu li a {
  transition: background-color 0.3s ease;
  display: block;
  padding: 8px 12px;
}

.dropdown-menu li a:hover {
  background-color: #2e7d32; /* verde oscuro */
  color: white;
}

.dropdown-menu a {
  color: white;
  text-decoration: none;
}

.cotizar-btn {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.menu a.active {
  position: relative;
  border-bottom: 3px solid #4caf50;
}

.menu a.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #78c257;
  border-radius: 2px;
}
